* {
    margin: 0;
    padding: 0;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-weight: 500;
}
html {
    font-size:62.5%;
}
br {
    display: block;
    content: "";
    margin: 8px 0;
}

/* フレーム
-------------------------------*/
#frame {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-top: solid 39px #fff;
    border-right: solid 18px #fff;
    border-left: solid 18px #fff;
    border-bottom: solid 35px #fff;
    box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.24) inset;
    box-sizing: border-box;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.frame_area {
    width: calc(100% - 36px);
    max-width: 780px;
    margin: 0 auto;
    padding: 0 18px;
}
header {
    width: 100%;
    height: 39px;
    position: fixed;
    top: 9px;
    left: 0;
    z-index: 12;
}
header a {
    color: #000;
    text-decoration: none;
}
header h1 {
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    color: #000;
}
header nav {
    display: none;
}
#sidebar_left a {
    color: #4A4A4A;
    text-decoration: none;
    border-left: 1px solid #4A4A4A;
}
#sidebar_left {
    display: block;
    height: 100%;
    font-size: 10px;
    font-weight: bold;
    line-height: 16px;
    color: #000;
    text-align: center;
    white-space: nowrap;
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode:vertical-rl;
    position: fixed;
    top: 0;
    left: 1.4px;
    z-index: 11;
}
#sidebar_right {
    display: block;
    height: 100%;
    font-size: 10px;
    font-weight: bold;
    line-height: 16px;
    color: #000;
    text-align: center;
    white-space: nowrap;
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode:vertical-rl;
    position: fixed;
    top: 0;
    right: 1.4px;
    z-index: 11;
}
footer {
    width: 100%;
    height: 39px;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    color: #000;
    text-align: right;
    position: fixed;
    bottom: -10px;
    right: 0;
    z-index: 12;
}

/* メイン
-------------------------------*/
main {
    width: calc(100% - 62px);
    padding: 39px 18px 44px 18px;
    margin: 0 13px;
}

/* メインビジュアル
-------------------------------*/
#mainvisual {
    width: 100%;
    height: 221px;
}
#mainvisual h2 {
    font-size: 28px;
    line-height: 45px;
    font-weight: bold;
    text-align: center;
    margin: 44px 0 14px;
    text-shadow: 0px 0px 6px #00000020;
}
#mainvisual_p {
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 44px 0;
    text-shadow: 0px 0px 6px #00000020;
}

/* メニュー
-------------------------------*/
#mainvisual nav {
    display: block;
    width: 270px;
    height: 26px;
    margin: 0 auto;
}
#mainvisual nav ul {
    display: inline-block;
    margin: 0 auto;
}
#mainvisual nav ul li {
    display: inline-block;
    width: 70px;
    height: 26px;
    list-style: none;
    background: #000;
    box-shadow: 0px 0px 6px #00000024;
}
#mainvisual nav ul li:nth-child(1),
#mainvisual nav ul li:nth-child(3){
    margin: 0;
}
#mainvisual nav ul li:nth-child(2){
    margin: 0 22px;
}
#mainvisual nav ul li a {
    text-decoration: none;
}
#mainvisual nav ul li a p {
    font-size: 12px;
    line-height: 26px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

/* フォント基本設定
-------------------------------*/
.text_area .text_area_a {
    color: #4A4A4A;
    font-weight: 800;
    text-decoration: none;
    border-bottom: 1px solid #4A4A4A;
}
.text_area .text_area_h3 {
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: -0.1px;
}
.text_area .text_area_p {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
}

/* 文章
-------------------------------*/
.text_area {
    max-width: 480px;
    padding: 0 0 36px 0;
    margin: 0 auto;
}