/* フレーム
-------------------------------*/
#frame {
    border-top: solid 39px #fff;
    border-right: solid 19px #fff;
    border-left: solid 19px #fff;
    border-bottom: solid 39px #fff;
}
.frame_area {
    width: calc(100% - 48px);
    padding: 0 19px;
}
header {
    height: 45px;
    position: fixed;
    top: 9.5px;
}
header h1 {
    display: inline-block;
    font-size: 15px;
    line-height: 19px;
}
header nav {
    display: block;
    width: 161px;
    float: right;
}
header nav ul li {
    display: inline-block;
}
header nav ul li:nth-child(2) {
    margin: 0 34px;
}
header nav ul li p {
    font-size: 12px;
}

header nav {
    display: block;
    width: 250px;
}
header nav ul {
    display: inline-block;
    margin: 0 auto;
}
header nav ul li {
    display: inline-block;
    width: 70px;
    height: 26px;
    list-style: none;
    background: #000;
    box-shadow: 0px 0px 6px #00000024;
}
header nav ul li:nth-child(1),
header nav ul li:nth-child(3){
    margin: -3px;
}
header nav ul li:nth-child(2){
    margin: -3px 22px;
}
header nav ul li a {
    text-decoration: none;
}
header nav ul li a p {
    font-size: 12px;
    line-height: 26px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

#sidebar_left {
    left: 2px;
}
#sidebar_right {
    right: 2px;
}
footer {
    height: 39px;
    line-height: 39px;
    bottom: 0px;
}

/* メイン
-------------------------------*/
main {
    width: calc(100% - 62px);
    padding: 39px 24px 44px 24px;
    margin: 0 13px;
}

/* メインビジュアル
-------------------------------*/
#mainvisual {
    width: 100%;
    height: auto;
}
#mainvisual h2 {
    font-size: 39px;
    line-height: normal;
    margin: 54px 0 23px;
}
#mainvisual_p {
    font-size: 16px;
    line-height: normal;
    margin: 0 0 76px 0;
}

/* メニュー
-------------------------------*/
#mainvisual nav {
    display: none;
}

/* フォント基本設定
-------------------------------*/
.text_area .text_area_a {
    color: #4A4A4A;
    text-decoration: none;
    border-bottom: 1px solid #4A4A4A;
}
.text_area .text_area_h3 {
    display: inline-block;
    width: 190px;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.1px;
    vertical-align: top;
}
.text_area .text_area_p {
    display: inline-block;
    width: 380px;
    font-size: 15px;
    line-height: 20px;
}

/* 文章
-------------------------------*/
.text_area {
    max-width: 580px;
    padding: 0 0 60px 0;
    margin: 0 auto;
}